<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="nameOfBook">Enter name: </label>
    <input type="text" th:field="*{nameOfBook}" id="nameOfBook"/>
    <div style="color:red" th:if="${#fields.hasErrors('nameOfBook')}" th:errors="*{nameOfBook}">Name Error</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
    <br/>
    <label for="yearOfRelease">Enter year of release: </label>
    <input type="text" th:field="*{yearOfRelease}" id="yearOfRelease"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">yearOfRelease Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>